<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <RollingFile name="UserLogFile" fileName="logs/user.log" filePattern="logs/user-%d{yyyy-MM}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 용량 기반 롤링 -->
                <SizeBasedTriggeringPolicy size="10MB" />
                <!-- 날짜 기반 롤링 -->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="ClanLogFile" fileName="logs/clan.log" filePattern="logs/clan-%d{yyyy-MM}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 용량 기반 롤링 -->
                <SizeBasedTriggeringPolicy size="10MB" />
                <!-- 날짜 기반 롤링 -->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Logger -->
        <Logger name="app.ebel" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <Logger name="app.ebel.steadybucks.controller.UserController" level="info" additivity="false">
            <AppenderRef ref="UserLogFile"/>
        </Logger>

        <Logger name="app.ebel.steadybucks.controller.ClanController" level="info" additivity="false">
            <AppenderRef ref="ClanLogFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
